@font-face {
    font-family: Pixel;
    src: url('fonts/ka1.ttf');
}
@font-face {
    font-family: pixel2;
    src: url('fonts/Fipps-Regular.otf');
}
@font-face {
    font-family: pixel3;
    src: url('fonts/Nintendo-DS-BIOS.ttf');
}

h1 {
    font-family: Pixel;
    font-size: 3.5rem;
    line-height: 1.75;
}

p {
    font-family: pixel3;
    font-size: 2rem;
}

a {
    font-family: pixel3;
    font-size: 2rem;
}

/* Set the border color */ 
          
.custom-toggler.navbar-toggler { 
    border-color: rgb(0, 123, 255); 
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 

.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

#mainNav {
    background: rgba(255, 255, 255, 0.9);
}
