@font-face {
    font-family: Pixel;
    src: url('fonts/ka1.ttf');
}
@font-face {
    font-family: pixel2;
    src: url('fonts/Fipps-Regular.otf');
}

h1 {
    font-family: pixel2;
    font-size: 3rem;
}
